# Large files
geometry/sphere/sphere520K*
test_Cube

# file types
*.pyc
*.o
*.so
*_wrap.cxx
*.ipynb_checkpoints


# specific files
bem_pycuda/tree/calculateMultipoles.py
bem_pycuda/tree/direct.py
bem_pycuda/tree/multipole.py
util/semi_analyticalwrap.py
bem_pycuda/regression_tests/regression_*
bem_pycuda/.DS_Store

# Jupyter notebook checkpoints
**/.ipynb_checkpoints

# other
bem_pycuda/#main_asymmetric.py#
bem_pycuda/RHS.txt
bem_pycuda/SLIC_results/
bem_pycuda/Vip11.txt
bem_pycuda/Vip12.txt
bem_pycuda/Vip13.txt
bem_pycuda/Vip14.txt
bem_pycuda/Vip15.txt
bem_pycuda/input_files/1d1sM/
bem_pycuda/input_files/2d1sM/
bem_pycuda/input_files/2d2sM/
bem_pycuda/.DS_Store
#bem_pycuda/input_files/sphere_single.param
#bem_pycuda/input_files/test_stern_2D_1S.config
#bem_pycuda/input_files/test_stern_2D_1S_M.config
#bem_pycuda/input_files/test_stern_2D_1S_cav.config.save
#bem_pycuda/input_files/test_stern_2D_2S.config
#bem_pycuda/input_files/test_stern_2D_2S_M.config
bem_pycuda/log2d1smem
bem_pycuda/main_asymmetric_copy_1.py
bem_pycuda/new_results_slic/
bem_pycuda/phi.txt
bem_pycuda/projection (copy 1).py
bem_pycuda/projection1.py
bem_pycuda/tree/#cuda_kernels.py#
geometry/test/

